body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
}

header {
    background-color: rgb(100, 12, 0);
    color: white;
    padding: 10px;
  }


footer {
    background-color: rgb(100, 12, 0);
    text-align: center;
    padding: 10px;
    color: white;
    clear:both;
  }

h3 {
    color:black;
}

.referee {
  margin: 10px 2px;
  padding: 4px;
  background-color: rgb(100, 12, 0);
  color: white;
}

.selected {
  background-color: rgb(100, 12, 0);
}

.refereeId {
  font-weight:bold;
}

.studentName{
  color:#999;
}

/* Create a two-column layout */
.p {
  float: right;
  box-align: right;
}

