body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
}

header {
    background-color: rgb(100, 12, 0);
    color: white;
    padding: 10px;
  }


footer {
    background-color: rgb(100, 12, 0);
    text-align: center;
    padding: 10px;
    color: white;
  }

h3 {
    color:black;
}

.referee {
  margin: 10px 2px;
  padding: 4px;
  border: 1px solid gray;
  background-color: antiquewhite;
}

.selected {
  background-color: burlywood;
}

.refereeId {
  font-weight:bold;
}

.studentName{
  color:#999;
}