<!doctype html>
<html>
  <head>
    <title>Indiana Soccer Referees Association</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>	<link href="css/style.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/vue@next"></script> 
    <link href="css/style.css" rel="stylesheet" type="text/css" /> 
</head>
<body>
	<header class="row">
		<div class="col-lg-2 col-md-3 col-sm-4 col-xs-2">
			<img src="https://previews.123rf.com/images/greatnotions/greatnotions1509/greatnotions150912258/45287257-use-this-referee-logo-design-for-your-next-project-.jpg" alt="logo" width = 100px id="logo" class="img-responsive">
		</div>
		<div class="col-lg-10 col-md-9 col-sm-8 col-xs-10">
			<h1>Indiana Soccer Referees Association</h1>
		</div>
	</header>
<!-- https://getbootstrap.com/docs/4.5/components/navbar/ -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="reflist.html">View Referees</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="refassign.html">Assign Referees</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="matches.html">Matches</a>
          </li>             
          <li class="nav-item">
            <a class="nav-link" href="login.html">Assigner Login</a>
          </li>      
        </ul>
      </div>
    </div>
  </nav>


<!-- https://getbootstrap.com/docs/5.0/components/alerts/ -->
  <main class="container">
<div id="assignmentApp" class="container">
  
  <div class="col-lg-12 col-md-12 col-sm-12"><h3>Referee List</h3></div>
  <div class="col-lg-12 col-md-12 col-sm-12">
    <table id="taskTable" class="table">
      <thead>
        <tr>
          <th>Assignment #</th>
          <th>Referee #</th>
          <th>Match #</th>
          <th>Position</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="assignment in assignments">
          <td>{{ assignment.assignmentId }}</td>
          <td>{{ assignment.refereeId }}</td>
          <td>{{ assignment.matchId }}</td>
          <td>{{ assignment.position }}</td>            
          <td>{{ assignment.status }}</td>
          <td>
            <button type="button" 
              class="btn btn-outline-secondary btn-sm"
              v-on:click="selectAssignmentForEdit(assignment)">Edit</button>
              <button type="button" 
              class="btn btn-outline-secondary btn-sm" 
              v-on:click="postDeleteAssignment(assignment)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table></div>

  <div class="col-lg-12 col-md-12 col-sm-12">
    <h3>{{ selectedAssignment === null ? "Add " : "Edit " }} Assignment</h3>
    <form v-on:submit.prevent="postAssignment">
  <div class="mb-3">
    <label for="refereeId" class="form-label">Referee:</label>
    <select class="form-select" v-model="assignmentForm.refereeId" class="form-control" id="refereeId">
      <option v-for="referee in referees">
        {{ referee.refereeId }} {{ referee.lName }}
      </option>
    </select>
  </div>
  <div class="mb-3">
    <label for="matchId" class="form-label">Match:</label>
    <select class="form-select" v-model="assignmentForm.matchId" class="form-control" id="matchId">
      <option v-for="match in matches">
        {{ match.matchId }} {{ match.matchDate}} {{ match.matchTime}}
      </option>
    </select>
  </div>
  <div class="mb-3">
    <label for="position" class="form-label">Position:</label>
    <select class="form-select" v-model="assignmentForm.position" class="form-control" id="position">
      <option value="Head Referee">Head Referee</option>
      <option value="Assistant Referee">Assistant Referee</option>
      <option value="Fourth Official">Fourth Official</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="status" class="form-label">Status:</label>
    <select class="form-select" v-model="assignmentForm.status" class="form-control" id="status">
      <option value="Assigned">Assigned</option>
      <option value="Tentative">Tentative</option>
      <option value="Unassigned">Unassigned</option>
      <option value="Accepted">Accepted</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">{{ selectedAssignment === null ? "Add " : "Edit " }} Assignment</button>
  <button type="button" class="btn btn-outline-secondary" v-if="selectedAssignment" v-on:click="resetAssignmentForm">Cancel</button>      
</form></div>
</form>
</div>
</div>
  
  </main>
  <footer class="row">
        <p>ISRA | Phone: 800-555-1234 | ISRA@gmail.com</p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>

  <script src="js/refassign.js"></script>
</body>
</html>